<% content_for :breadcrumb do %>
  <li><%= link_to "Diagnosis", diagnoses_path %></li>
  <li class="active">FREND</li>
<% end %>

<div class='alert alert-info fade in' data-alert='alert'>
  <h3>
    <strong>
      Measurement history of Diagnosis for <a href="http://nanoentek.com/product.php?id=4">NanoEnTek FREND</a>
    </strong>
  </h3>
  <p>Here you'll see measurement history of diagnosis for NanoEnTek FREND.</p>
</div>

<%= render partial: 'index', locals: { equipment: @frends, assay_kits: @assay_kits } %>
