<% content_for :breadcrumb do %>
  <li class="active">Notifications</li>
<% end %>

<div class='alert alert-info fade in' data-alert='alert'>
  <h3>
    <strong>
      Notifications
    </strong>
  </h3>
  <p>Notification DB</p>
</div>

<% if policy(Notification).manage? %>
  <% if @see_all %>
    <%= link_to 'See your notifications only?', notifications_path, class: 'btn btn-default' %>
  <% else %>
    <%= link_to 'See all notifications?', notifications_path(see_all: true), class: 'btn btn-default' %>
  <% end %>
<% end %>

<p class="vspace05">

<div id='notification-table'>
  <%= render partial: 'notification_table', locals: { notifications: @notifications } %>
</div>
