<% content_for :breadcrumb do %>
  <li class="active">Welcome</li>
<% end %>

<div class="jumbotron panel-info" style="background-color: #5bc0de; color: #ffffff;">
  <div class="container">
    <h1>Welcome to EzerCloud!</h1>
    <p>This is cloud based health record repository to keep minimal but plenty information from various health signals measured by health devices or surveyed.</p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-4">
    <div class="thumbnail">
      <% if false %>
      <img src="..." alt="...">
      <% end %>
      <div class="caption">
        <h3>Monitoring</h3>
        <p>...</p>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-4">
    <div class="thumbnail">
      <% if false %>
      <img src="..." alt="...">
      <% end %>
      <div class="caption">
        <h3>Preserving</h3>
        <p>...</p>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-4">
    <div class="thumbnail">
      <% if false %>
      <img src="..." alt="...">
      <% end %>
      <div class="caption">
        <h3>Interacting</h3>
        <p>...</p>
      </div>
    </div>
  </div>
</div>
