<% content_for :breadcrumb do %>
  <li><%= link_to 'Assay Kits', assay_kits_path %></li>
  <li class="active">Edit Assay Kit</li>
<% end %>

<div class='alert alert-info fade in' data-alert='alert'>
  <h3>
    <strong>
      New Assay Kits
    </strong>
  </h3>
  <p>You could make new assay kit information for target equipments.</p>
</div>

<%= render partial: 'form' %>
