$("#header-alert").html("<div class='alert alert-success fade in' data-alert='alert'><a class='close' data-dismiss='alert' href='#'>×</a><p><%= @notice %></p></div>");
$("#plate-<% @plate_id %>").remove();