<% content_for :breadcrumb do %>
  <li><%= link_to 'Assay Kits', assay_kits_path %></li>
  <li class="active">Reagent</li>
<% end %>

<div class='alert alert-info fade in' data-alert='alert'>
  <h3>
    <strong>
      Edit Reagent
    </strong>
  </h3>
  <p>You could edit reagent for target equipment.</p>
</div>

<%= render partial: 'form' %>
