$('#equipment-frame').replaceWith("<%= escape_javascript(render partial: 'dropdown', locals: {title: @qcm.equipment || 'Equipment', data: all_equipment, label: 'equipment', value: 'equipment', menu_id: 'equipment'}) -%>")

$('#assay_kit-frame').replaceWith("<%= escape_javascript(render partial: 'dropdown', locals: {title: @qcm.assay_kit_label || 'AssayKit', data: @assay_kits, label: 'device', value: 'id', menu_id: 'assay_kit'}) -%>")

$('#plate-frame').replaceWith("<%= escape_javascript(render partial: 'dropdown', locals: {title: @qcm.reagent_label || 'Reagent', data: @plates, label: 'reagent.name', value: 'id', menu_id: 'plate'}) -%>")

$('#sd_range').replaceWith("<label id=sd_range class=string for=​quality_control_material_lower_3sd>​<abbr title=required>*</abbr> 3SD Range​<%= @qcm.reagent_unit %></label>​")

$('#sd_range').addClass("required")
